<p id="notice"><%= notice %></p>

<p>
  <b>Ear:</b>
  <%= @cattle_id.ear_id %>
</p>

<p>
  <b>Siiniga:</b>
  <%= @cattle_id.siiniga_id %>
</p>

<p>
  <b>Sanitary certificate:</b>
  <%= @cattle_id.sanitary_certificate %>
</p>

<p>
  <b>Breeder name:</b>
  <%= @cattle_id.breeder_name %>
</p>

<p>
  <b>Breeder place:</b>
  <%= @cattle_id.breeder_place %>
</p>

<p>
  <b>Breed:</b>
  <%= @cattle_id.breed %>
</p>

<p>
  <b>Age:</b>
  <%= @cattle_id.age %>
</p>

<p>
  <b>Start weight:</b>
  <%= @cattle_id.start_weight %>
</p>

<p>
  <b>End weight:</b>
  <%= @cattle_id.end_weight %>
</p>

<p>
  <b>Lote:</b>
  <%= @cattle_id.lote_id %>
</p>


<%= link_to 'Edit', edit_cattle_id_path(@cattle_id) %> |
<%= link_to 'Back', cattle_ids_path %>
